$background-yellow: #EBB85D;
$background-gray: #3E3F40;
$text-light: white;
$text-dark: black;
$font: 'Open Sans', 'sans-serif';
$pad-tb: 1% 0 1% 1%;
$margin-tb: 1% 0;
$m_col: 12;
$s_col: 8;
$xs_col: 2;
