@import 'variables';
@import 'resolutions';

body{
	font-family: $font;
}

/*GLOBAL*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.row::before, .row::after {
  content: " ";
  display: table;
}

.row::after {
  clear: both;
}

[class*="col-"] {
  min-height: 8px;
  padding: 12px;
  float: left;
}

.col-1 {
  /* (1/12)*100 */
  width: 8.333%;
}

.col-2 {
  /* (2/12)*100 */
  width: 16.666%;
}

.col-3 {
  /* (3/12)*100 */
  width: 25%;
}

.col-4 {
  /* (4/12)*100 */
  width: 33.333%;
}

.col-5 {
  /* (5/12)*100 */
  width: 41.666%;
}

.col-6 {
  /* (6/12)*100 */
  width: 50%;
}

.col-7 {
  /* (7/12)*100 */
  width: 58.333%;
}

.col-8 {
  /* (8/12)*100 */
  width: 66.666%;
}

.col-12 {
  /* (12/12)*100 */
  width: 100%;
}

#header{
	background: $background-yellow;
	padding: $pad-tb;
	h1{
		color: $text-light;
	}
}

#menu{
	li{
		background: $background-gray;
		color: $text-light;
		margin: $margin-tb;
	}

	li:hover{
		background: $background-yellow;
	}
}

#lista-asistencia{
	list-style: none;
	li{
		margin-left: $margin-l;
	}
}

.aside{
	left: 0;
	background: $background-gray;
	color: $text-light;
	text-align: center;
}

#footer{
	background: $background-gray;
	padding: $pad-tb;
	p{
		color: $text-light;
	}
}

// MEDIA QUERIES
@media  (max-width: 768px){//Media para tablets
	#contenedorMenu{
		width: 40%;
	}

	#contenido{
		width: 60%;
	}

	#contenedorAside{
		width: 100%;
	}
}

@media  (max-width: 460px){//Media para móviles
	#contenedorMenu{
		width: 100%;
	}

	#contenido{
		width: 100%;
	}

	#contenedorAside{
		width: 100%;
	}
}
