@import 'variables';
@import 'resolutions';

body{
	font-family: $font;
	height: 100vh;
}

/*GLOBAL*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.row::before, .row::after {
  content: " ";
  display: table;
}

.row::after {
  clear: both;
}

[class*="col-"] {
  min-height: 8px;
  padding: 12px;
  float: left;
}

.col-1 {
  /* (1/12)*100 */
  width: 8.333%;
}

.col-2 {
  /* (2/12)*100 */
  width: 16.666%;
}

.col-3 {
  /* (3/12)*100 */
  width: 25%;
}

.col-4 {
  /* (4/12)*100 */
  width: 33.333%;
}

.col-5 {
  /* (5/12)*100 */
  width: 41.666%;
}

.col-6 {
  /* (6/12)*100 */
  width: 50%;
}

.col-7 {
  /* (7/12)*100 */
  width: 58.333%;
}

.col-8 {
  /* (8/12)*100 */
  width: 66.666%;
}

.col-12 {
  /* (12/12)*100 */
  width: 100%;
}
/*Estilos flexbox*/
// .flex-container {
//   padding: 0;
//   margin: 0;
//   // list-style: none;
//
//   display: -webkit-box;
//   display: -moz-box;
//   display: -ms-flexbox;
//   display: -webkit-flex;
//   display: flex;
//
//   -webkit-flex-flow: row wrap;
//   justify-content: space-around;
// }

// .flex-item {
// 	display: block;
//   padding: 2%;
//   // width: 150px;
//   // height: 200px;
//   // margin: 7% 3%;
// }

#header{
	background: $background-yellow;
	padding: $pad-tb;
	h1{
		color: $text-light;
	}
}

#menu{
	// width: 30%;
	// margin: 0;
	li{
		background: $background-gray;
		color: $text-light;
		margin: $margin-tb;
	}

	li:hover{
		background: $background-yellow;
	}
}

#contenido{
	// width: 30%;
}

.aside{
	// width: 40%;
	left: 0;
	background: $background-gray;
	color: $text-light;
	text-align: center;
}

#footer{
	background: $background-gray;
	padding: $pad-tb;
	p{
		color: $text-light;
	}
}
